.test {
    background-color: #6278ff;
    width: 150px;
    height: 150px;
}



.container{

}

.column {
    float: left;
    width: 100px;
    padding: 0px;
    height: 40px; /* Should be removed. Only for demonstration */
    font-size: 15px;
    margin: 1px;
    border-radius: 5px;
    color: white;
    background-color: #ababab;
}

.number {
    float: left;
    width: 100px;
    padding: 0px;
    height: 40px; /* Should be removed. Only for demonstration */
    font-size: 15px;
    border-radius: 5px;
    margin: 1px;
    color: white;
    background-color: #3b3b3b;
}

.equal {
    float: left;
    width: 100px;
    padding: 0px;
    height: 40px; /* Should be removed. Only for demonstration */
    font-size: 15px;

    margin: 1px;
    color: white;
    background-color: #7ea9f5;
}



/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

