<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/public/css/main.css" rel="stylesheet" type="text/css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="module" src="/public/js/calculator.js"></script>
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
<h1 class="result">0</h1>

<div class="row">
    <button class="column" id="percent">%</button>
    <button class="column" id="resetAll">CE</button>
    <button class="column" id="reset">C</button>
    <button class="column" id="remove">←</button>
</div>

<div class="row">
    <button class="column" id="7" number="7">7</button>
    <button class="column" id="8" number="8">8</button>
    <button class="column" id="9" number="9">9</button>
    <button class="column" id="divide">÷</button>
</div>
<div class="row">
    <button class="column" id="4" number="4">4</button>
    <button class="column" id="5" number="5">5</button>
    <button class="column" id="6" number="6">6</button>
    <button class="column" id="minus">-</button>
</div>
<div class="row">
    <button class="column" id="1" number="1">1</button>
    <button class="column" id="2" number="2">2</button>
    <button class="column" id="3" number="3">3</button>
    <button class="column" id="plus">+</button>
</div>
<div class="row">
    <button class="column">+/-</button>
    <button class="column" id="zero" number="0">0</button>
    <button class="column">.</button>
    <button class="column" id="compare">
        <div class="compare">=</div>
    </button>
</div>

</body>
</html>